{:title "Parameterized Queries"
 :text-file "resources/chapters/chapter-2.md"

:exercises
 [{:question "Find movie title by year"
   :inputs [{:type :query
             :value [:find ?title :in $ ?year :where ...]
             :correct-value [:find ?title
                             :in $ ?year
                             :where
                             [?m :movie/year ?year]
                             [?m :movie/title ?title]]}
            {:type :value
             :value 1988}]}

  {:question "Find all movie `?title`s where the `?actor` and the `?director` has worked together"
   :inputs [{:type :query
             :value [:find ?title
                     :in $ ?actor ?director
                     :where
                     ...]
             :correct-value [:find ?title
                             :in $ ?actor ?director
                             :where
                             [?a :person/name ?actor]
                             [?d :person/name ?director]
                             [?m :movie/cast ?a]
                             [?m :movie/director ?d]
                             [?m :movie/title ?title]]}
            {:type :value
             :value "Michael Biehn"}
            {:type :value
             :value "James Cameron"}]}]}
